.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#progress {
    flex: 1;
}
#progress{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right,
        white var(--progress,0%),
        #535353 var(--progress,0%)
    );
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    margin-top: -4px;
    opacity: 0;
    transition: 0.2s;
}
#progress:hover{
    background: linear-gradient(to right,
        #1db954 var(--progress,0%),
        #535353 var(--progress,0%)
    );
}
#progress:hover::-webkit-slider-thumb{
    opacity: 1;
}
/* Toàn bộ scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track (nền phía sau) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Thanh kéo */
::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: 10px;
    transition: 0.3s;
}

/* Khi hover */
::-webkit-scrollbar-thumb:hover {
    background: #1db954; /* xanh Spotify */
}
.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.controls button {
    background: #070707;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: rgb(8, 8, 8);
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.controls button:hover {
    transform: scale(1.1);
    background: #f8f8f8;
}

.controls button:active {
    transform: scale(0.95);
}
